body{
    background-color:rgb(46, 46, 46);
}

h1{
	padding: 10px;
    text-align:center;
}

.presentation{
	text-align: justify;
	font-size: 20px;
	border: solid;
	border-color: black;
	padding: 5px;
	margin: 10px;
	font-weight: bold;
	text-align: justify;
}
h2{
	text-decoration: underline;
	text-align: center;

}
.d-block {
	border-color: black;

}

.container{
	padding: 10px;
}

.bd-example{
	padding: 10px;
}