.titre{
    color: rgb(10, 10, 10);
    font-size: 500%;
    text-align: center;
    font-variant : small-caps;
    letter-spacing : 0.5em;
    font-size : 120%;
    margin-left: 100px;
}
.present{
    text-align: justify;
    font-size: 150%;
    padding:4px; 
    border:4px solid #e0e0e0;
    margin-left: 200px;
    margin-right: 80px;
}

